@import '../../../assets/styles/variable.sass'

.list
    display: flex
    align-items: center
    gap: 20px
    padding: .8em
    border-radius: 10px 0 0 10px
    cursor: pointer
    font-size: 1em
    transition: all .6s
    >span
        @include width(20px)
        >svg
            @include width(100%)

    &--active
        background-color: $tertiaryColor
        transform: scale(1.1)