@import '../../../assets/styles/variable.sass'

.admin
    border: 1px solid #000
    width: 100vw
    height: 100vh
    background-color: white
    margin-left: -10vw
    display: grid
    grid-template-columns: 200px 1fr
    grid-template-rows: auto 1fr
    grid-template-areas: 'head head' 'slide main'
    transition: grid-template-columns .3s

    &--open
        grid-template-columns: 80px 1fr

    /* header layout*/
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        padding: 15px 20px
        background-color: $adminColor
        color: white
        grid-area: head

    &__version
        margin-left: 15px
        font-size: .8em

    &__state
        display: flex
        flex-direction: column
        align-items: center
        gap: 10px
        position: relative

    &__stateText
        display: flex
        align-items: center
        gap: 10px
        >span
            cursor: pointer
            display: grid
            place-items: center

    &__stateIcon
        transform: rotate(0deg)
        &--active
            transform: rotate(180deg)

    /* aside layout*/
    &__sidebar
        grid-area: slide
        padding: 10px 0 0 20px

    &__sidebarListItem
        margin-top: 20px
        display: flex
        flex-direction: column
        gap: 10px

    &__sidebarBtn
        @include width(30px)
        background-color: transparent
        padding: .25em
        span,svg
            @include width(100%)

    /* main layout*/
    &__main
        background-color: $tertiaryColor
        text-align: center
        padding: 20px
        grid-area: main